body
	{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;		
    margin: 0;
    background: #6F6F81;
	}
table
    {
    border-spacing:0px;
    border-collapse: collapse ;
    }
a 
	{
    font-size: 15px;
	text-decoration:none;
	color:#000;
	}
p
{
    margin: 0;
}
a img 
    {
    border:none;    
    }
a:hover 
	{
	color:#03F;
	}
form {
    margin-bottom: 0px;
    }
input[type="text"],input[type="password"], textarea
{
    border: 1px solid #202020;
    padding: 3px 5px 4px 6px;
    background: #E7E7E7;
    font-family: Arial;
}
.td_text {
    font-size: 15px;
    padding: 2px 10px 2px 10px;
    }

.r3
    {
    font-size: 16px;
    color: #BBD6FF;
    padding: 10px 0 0 15px;
    float:left;
    }


#mainMenu
{
    background: #525256;
    overflow: hidden;
    zoom:1;
}
.jqueryslidemenu{
    font: bold 12px Verdana;
    background: #404042;
    margin:0 auto;
    height: 35px;
    float:left;
}

.jqueryslidemenu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*Top level list items*/
.jqueryslidemenu ul li{
    position: relative;
    display: inline;
    float: left;
}

/*Top level menu link items style*/
.jqueryslidemenu ul li a{
    display: block;
    text-shadow: black 1px 1px 2px;
    color: #AAA;
    padding: 8px 10px;
    border-right: 1px solid #778;

    text-decoration: none;
}

* html .jqueryslidemenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
    color: #C5C5C5;
}

.jqueryslidemenu ul li a:hover{
    background: #11769e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzY5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMzOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #11769e 0%, #11339b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11769e), color-stop(100%,#11339b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #11769e 0%,#11339b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #11769e 0%,#11339b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11769e', endColorstr='#11339b',GradientType=0 ); /* IE6-8 */
    color: white;
}

/*1st sub level menu*/
.jqueryslidemenu ul li ul{
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.jqueryslidemenu ul li ul li{
    display: list-item;
    float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.jqueryslidemenu ul li ul li ul{
    top: 0;
}

/* Sub level menu links style */
.jqueryslidemenu ul li ul li a{
    font: normal 13px Verdana;
    width: 160px; /*width of sub menus*/
    padding: 5px;
    margin: 0;
    border-top-width: 0;
    border-bottom: 1px solid gray;
}

.jqueryslidemenuz ul li ul li a:hover{ /*sub menus hover style*/
    background: #eff9ff;
    color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
    position: absolute;
    top: 12px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 6px;
    right: 5px;
}
.current
{
    background: #11769e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzY5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMzOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #11769e 0%, #11339b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11769e), color-stop(100%,#11339b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #11769e 0%,#11339b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #11769e 0%,#11339b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11769e', endColorstr='#11339b',GradientType=0 ); /* IE6-8 */

}
a.current
{
    color: white;
}

input[type="text"].busy
{
    background: rgb(245, 127, 127);
}
input[type="text"].not-busy
{
    background: rgb(167, 245, 194);
}
.input_form
	{
	border: 1px solid #2B43A5;
	width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top:  -140px;
    padding-bottom: 20px;
    
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.59);
    
    background: #394e79; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5NGU3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzMxNDNiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTRlNzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #394e79 0%, #3143b2 45%, #394e79 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#394e79), color-stop(45%,#3143b2), color-stop(100%,#394e79)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #394e79 0%,#3143b2 45%,#394e79 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #394e79 0%,#3143b2 45%,#394e79 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #394e79 0%,#3143b2 45%,#394e79 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #394e79 0%,#3143b2 45%,#394e79 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#394e79', endColorstr='#394e79',GradientType=0 ); /* IE6-8 */

	}


.top_form   
    {
    height: 38px; 
    margin-bottom: 20px;
    border-bottom: 1px solid #0000B1;
    
     background: #11769e; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzY5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMzOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #11769e 0%, #11339b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11769e), color-stop(100%,#11339b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #11769e 0%,#11339b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #11769e 0%,#11339b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #11769e 0%,#11339b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11769e', endColorstr='#11339b',GradientType=0 ); /* IE6-8 */
  
    }
.lockscreen
    {
    background: url(/design/img/lockscreen.png);
    height: 22px;
    width: 22px;
    float:left;
    margin: 8px;
    }
.form_item input[type='text'], .f
	{
    width: 400px;
    font-size: 12px;
    }
.short 
    {
    width:150px;
    }
.select
    {
    margin: 0;
    width: 323px;
    }
.input_auth
    {
    width: 157px;
    margin-bottom: 4px;
    outline: none;
    }
.label 
	{	
    font-family: Tahoma, Geneva, sans-serif;
	width: 110px;
	text-align:right;
	float:left;
	padding:5px 10px 0 0;
	color:#FFF;
    text-shadow: #363636 1px 1px 2px;
	}
.input_form label
{
    color: #B4B4B4;
    width: 85px;
    font-family: Tahoma, Geneva, sans-serif;
    text-align:right;
    float:left;
    padding:5px 10px 0 0;
    text-shadow: #363636 1px 1px 2px;
}
.clear
{
    clear: both;
    float: none;
}
.button 
	{
	text-align:right;
	margin-right: 45px;
	}
.button input
    {
    padding: 4px 20px;
    }
.menu_item 
	{
	background-color:#FFFF80;
	width: 150px;
	padding: 3px 10px 3px 20px;
	}
.wrapper 
    {
    padding: 8px 20px 20px;
    background: #6f6f81;
    clear: both;
    min-width: 1170px;
    width:expression(document.body.clientWidth < 1170? "1170px": "auto" );
    }
.extra  
    {

    position: absolute;
    left: 330px;
    top: 237px;
    }
.preview 
    {
    height: 235px;    
    width: 235px;
    float:left;
    margin-left: 5px;
    }
.img_preview 
    {    
    width: 235px;
    margin: 0 0 10px 5px;
    float:left;
    text-align: center;
    background: #6F6F81;
    }
.form_item 
    {
    border-bottom: 1px dotted black;
    padding: 3px;
    }
.add_edit_form, #search-cont
    {
    background: url(/design/img/hatch.png) #78787E;
    border: 1px solid #505052;
    padding: 15px;
    margin-bottom: 5px;
    overflow: hidden;
    }
.fields_block
{
    width: 550px;
    float: left;
}
.right_block
{
    text-align: center;
    float: left;
    margin-left: 20px;
}
.legend 
    {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 7px 0 10px 15px;
    text-shadow: #363636 1px 1px 2px;
    margin: 7px 0;
    border: 1px solid rgb(75, 75, 75);
    background: rgb(150, 150, 150);
    overflow: hidden;
    zoom:1;
    }
.legend span
    {
    color: #3F3F3F;
    text-shadow: #8F8F8F 1px 1px 2px;
    display: inline-block;
    font-size: 16px;
    padding: 0 0 0 5px;
    }
.legend2
    {
    display: inline-block;
    float: left;
    font-size: 16px;
    color: #D8D8D8;
    margin: 14px 10px 14px 0;
    padding: 3px 5px 4px 5px;
    text-shadow: black 1px 1px 0px;
    }
.lock 
	{
	height:40px;
	width: 40px;
	padding: 10px 15px 0px 45px;
	float:left;
	}
.link a
    {
    font-size: 12px;
    }
.prev_img
    {
    height: 90px;
    width: 115px;
    float:left;
    margin: 0 0 5px 5px;   
    }
.other_image
    {
    float:left;
    margin-top: 10px;
    }
.add_other_image_form 
    {
    float:left;
    }   
.img_blok 
    {
    width: 245px;
    }   
.del
    {
    position: relative;
    bottom: 87px;
    left: 90px;
    }   
.top 
    {
    background: url(/design/img/header.png);
    height: 56px;
    text-shadow: #363636 1px 1px 2px;
    }
.header_title
    {
    padding: 12px 20px;
    color: #999;
    font-size: 20px;
    float: left;
    }
.header
    {
    padding: 8px 3px;
    cursor: pointer;
    position: relative;
    }
.header_title a
    {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: underline;
    text-transform: uppercase;
    }
.header_title span
    {
    position: relative;
    bottom: 7px;
    color: #6B6FD3;
    font-size: 16px;
    padding: 0 0 0 5px;
    }  
.admin
    {
    float: right;
    margin: 10px 30px 10px 5px;
    color: #639BF0;
    font-size: 20px;
    }
.bottom
    {
    height: 30px;
    background: url(/design/img/header_r.png);
    }
.tool_bar
    {
    float: right;
    }
.tool_bar span, .new 
    {
    float: left;
    }
.tool_bar > span
    {
    margin: 10px 5px 10px 1px;
    padding: 0;
    }
.tool_bar > span > img
    {
    cursor: pointer;
    }
.new 
    {
    margin: 8px 0 7px 7px;
    padding: 3px 12px 7px 12px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(5, 92, 88);
    text-shadow: 1px 1px 0px black;
    border-radius: 5px;
    background: rgb(10, 145, 145);
    box-shadow: 1px 0px 5px rgb(62, 202, 207) inset;
    cursor: pointer;
    outline: none;
    } 
#new
    {
    position: absolute;
    right: 24px;
    top: -6px;
    }
.new:hover
    {
    background: #0E7777;
    }
.new2
    {
    height: 43px; 
    }
.new span
    {
    font-size: 14px;
    margin: 3px;
    display: block;
    float: left;
    padding: 3px 0 0 4px;
    } 
.new img
    {
    margin-top: 3px;
    }
a.new:hover
    {
    color: white;
    }
 .error
{
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding: 3px 0 4px;
    background: rgb(109, 28, 28);
    margin-bottom: 4px;
}
span.error2
    {
    color: #960606;
    text-shadow: #918080 1px 1px 2px;
    }
.alert 
    {
    padding: 4px 20px 0 0;
    float:right;
    }

.container
    {
    min-width: 100%;
    overflow: auto;
    }
#tabs
    {
    margin: 20px 0 0 0;
    }
.user
    {
    padding: 5px 10px;
    }
.user_block
    {
    overflow: auto;
    float: none;
    clear: both;
    }
.user_form
    {
    display: none;
    width: 350px;
    padding: 15px;
    margin: 0 10px 10px 0; 
    background-color: #6F6F81;
    border: 1px solid #505052;
    float: left;  
    
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    }
#submit_btn, #cancel, #add_tags, .ml15
    {
    padding: 8px 20px;
    }
#add_tags
    {
    float: right;
    margin-top: 10px;
    }
.w2
    {
    margin: 10px 0 0 60px;
    }
    
.statistic
    {
    opacity: 0;
    background: url(/design/img/hatch.png);
    padding: 20px;
    width: 400px;
    margin: 150px 50px 50px 50px;
    float: right;
    border: 1px solid #575757;
    }
.statistic table td
    {
    color: white;
    background: #5E5B70;
    padding: 3px 10px;
    }
.statistic table label
    {
    color: #DFDFDF;
    }
#name
    {

    }
.view-table
    {
    width: 100%;
    }
.view-table a, .view-table
{
    font-size: 12px;
}
.view-table tr
    {
    background: #E3E3E3;
    }
.view-table td
    {
    border: 1px solid rgb(131, 138, 143);
    }
.view-table .even
    {
    background: #E3E3E3;
    }
.view-table .odd
    {
    background: #C7C7C7;
    }
.view-table tr:hover
    {
    background: #BDCFD1;
    }
.view-table tr.table_header 
    {
    color:white;
    font-size: 12px;
    text-align: center;
    background: rgb(17,118,158); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzY5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMzOWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(17,118,158,1) 0%, rgba(17,51,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,118,158,1)), color-stop(100%,rgba(17,51,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(17,118,158,1) 0%,rgba(17,51,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(17,118,158,1) 0%,rgba(17,51,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(17,118,158,1) 0%,rgba(17,51,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(17,118,158,1) 0%,rgba(17,51,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11769e', endColorstr='#11339b',GradientType=0 ); /* IE6-8 */
    }
.view-table tr.table_header th
    {
    padding: 7px 3px;
    }
.view-table td
{
    padding: 5px 8px;
}
.td_center
{
    text-align: center;
}
.w40
    {
    width: 40px;
    }
.pos
    {
    width: 23px;
    }
.online
    {
    font-size: 10px;
    color: #DBDBDB;
    }
#tags
    {
    width: 245px;
    }
.add_edit_form label.label
    {
    width: auto;
    }
.sign
    {
    font-style: italic;
    color: #B9B9B9;
    }
.delTag
    {
    padding: 2px;
    }
.tagItem
    {
    color: gainsboro;
    display: block;
    float: left;
    }
.tagItem:hover
    {
    color: White;
    cursor: pointer;
    }
#output
    {
    overflow: auto;
    }
.er404 {
    border: 2px solid #747A86;
    margin: 100px auto;
    width: 600px;
    padding: 20px;
    color: #111464;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #454555;
    text-shadow: 1px 1px 3px #868686;
}
.er404 span {
    font-size: inherit;
    color: #57271E;
}
.er404 img
    {
    float: left;
    margin-right: 15px;
    }
#count_order
    {
    margin: 0 0 0 5px;
    position: relative;
    bottom: 7px;
    font-size: 12px;
    color: white;
    background: red;
    padding: 1px 4px 2px;
    border: 3px solid white;
    border-radius: 20px;
    }    
.letter
    {
    background: url(/design/img/letters.png);
    height: 29px;
    width: 29px;
    display: block;
    padding: 0;
    }
.view
    {
    background-position-x: 28px;
    }
a.msg
    {
    font-weight: bold;
    }
a.view
    {
    font-weight: normal;
    color: #3D3D3D;
    }
.textView
    {
    padding: 13px;
    background: gainsboro;
    font-size: 14px;
    line-height: 18px;
    }
    
div.new
    {
    padding: 8px 20px;
    }
.st
    {
    list-style-type: none;
    padding-left: 10px;
    margin: 0;
    }
.st li
    {
    color: #D6D6D6;
    margin: 3px 0;
    }
.st span
    {
    font-size: 12px;
    }
.setSite
    {
    display: block;
    padding: 5px 10px;
    clear: both;
    background: #CFCFCF;
    margin: 4px 0;
    border-radius: 5px;
    border: 1px solid #818181;
    }
.ml15
    {
    margin-left: 10px;
    }
.disable, .disable:hover
    {
    color: #A09999;
    cursor: text;
    }
.table_bottom 
{
    background: rgb(23, 59, 114);
    margin: 0 1px;
    border: 1px solid rgb(15, 86, 184);
    color: white;
    padding: 0 15px;
    overflow: hidden;
    zoom:1;
}   
.header span
{
    display: inline-block;
    height: 9px;
    width: 17px;
    position: absolute;
    right: 7px;
    top: 10px;
    padding: 0;
    overflow: hidden;
}
.headerSortDown span 
{
    background: url(/design/img/arrow_sprite.png) 0 -14px;
}
.headerSortUp span
{
    background: url(/design/img/arrow_sprite.png) 0 -3px;
}
.next, .last, .prev, .first
{
    display: block;
    float: left;
    height: 17px;
    width: 11px;
    background: url(/design/img/arrow_sprite.png) -4px -26px;
    cursor: pointer;
    margin: 8px 0 0 0;
}
.last
{
    background-position: -3px -61px;
} 
.prev
{
    background-position: -2px -44px;
}
.first
{
    background-position: -3px -80px;
}
.pagedisplay, .pagesize, .events
{
    vertical-align: top;
    width: 50px;
    margin: 7px;
    float: left;
}
.pagesize, .events
{
    width: auto;
}
.radio_span
{
    padding: 0 5px 0 0;
    font-size: 12px;
    color: white;
}
.mini_tool
{
    float: right;
}
.mini_tool img
{
    margin: 0 7px;
    cursor:pointer;
}

.tr_select
{
    background: rgb(218, 232, 250) !important;
}

.search_bar
{
    background: #CBD8EC!important;
}
.search_bar td
{
    border: 1px solid rgb(42, 85, 124);
}
.table_header th
{
    border: 1px solid rgb(49, 85, 134);
}

.search_bar input[type='text'], .search_bar select
{
    font-size: 10px;
    padding: 1px 3px 2px;
    width: 100%;
}
#result
{
    position: absolute;
    background: rgb(232, 239, 243);
    padding: 4px;
    border: 1px solid black;
    display: none;
}
#result div
{
    padding: 2px 7px;
    margin: 0 -4px;
}
#result div:hover
{
    background: white;
    cursor: pointer;
}
#result span
{
    padding: 0;
    margin: 0;
    font-size: 12px;
    background: rgb(209, 223, 241);
    font-weight: bold;
}
#result .select
{
    background: rgb(255, 255, 255);
    width: auto;
}
.pager
{
    overflow: hidden;
    float: left;
}
.right_panel
{
    position: absolute;
    left: 880px;
    top: 176px;
}
#search-cont
{
    border: 1px solid #4C4B57;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    zoom:1;
    display: none;
}
#search-cont label
{
    width: 90px;
    display: inline-block;
    text-align: right;
    color: white;
}
#search-cont p
{
    margin: 5px 0;
}
#search-cont h1
{
    font-size: 16px;
    margin: 10px 10px 20px;
    border-bottom: 1px solid #919191;
    padding-bottom: 5px;
}
#search-cont h1 span
{
    font-size: 12px;
    color: rgb(9, 9, 71);
    margin-left: 30px;
    background: #78787E;
}
#search-cont h1 span b
{
    color: rgb(11, 175, 129);
}
#search-cont form
{
    width: 340px;
}
#search-cont input[type="text"]
{
    width: 200px;

}
.auth-name
{
    display: block;
    padding: 10px 10px 0;
    color: white;
}
.visible
{
    display: block !important;
}