body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: Arsenal-Regular, Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
}
table {  border-spacing:0; border-collapse: collapse ; }
iframe { border: none; }
fieldset, img { border:0; }
h1,h2,h3,h4,h5,h6 {  font-size:100%; }
li { list-style: none }
@font-face
{
    font-family: 'Arsenal-Bold';
    src: url('/design/fonts/Arsenal-Bold.otf');
}
@font-face
{
    font-family: 'Arsenal-BoldItalic';
    src: url('/design/fonts/Arsenal-BoldItalic.otf');
}
@font-face
{
    font-family: 'Arsenal-Italic';
    src: url('/design/fonts/Arsenal-Italic.otf');
}
@font-face
{
    font-family: 'Arsenal-Regular';
    src: url('/design/fonts/Arsenal-Regular.otf');
}
h1
{
    color: #424854;
    font-size: 30px;
}
h3
{
    font-size: 20px;
    margin: 10px 0;
}
.clear
{
    clear: both;
    float: none;
}
#top-line
{
    background: #434a54;
    height: 72px;
}
.top-line-cont, #top-nav, .container, .footer-cont
{
    max-width: 1200px;
    margin: 0 auto;
}
#top-nav
{
    width: 100%;
}
.sign-btns-cont
{
    float: right;
    margin-top: 13px;
}
#logo
{
    float: left;
    padding-top: 16px;
}
#top-nav-line
{
    background: #50c1eb;
    border-bottom: 5px solid #e2e2e2;
}
#top-nav td
{
    background: #50c1eb;
    padding: 10px 0;
}
#top-nav a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
    padding: 10px 5px;
    -webkit-font-smoothing: subpixel-antialiased;
}
#top-nav a:hover
{
    background: #45B7E2;
}
#top-nav .last
{
    padding: 0;
    text-align: right;
}
.btn-o
{
    padding: 10px 30px;
    margin: 2px;
    font-size: 17px;
    border-radius: 5px;
    color: #ffffff;
    background: #9fd468;
    float: left;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: normal;
    line-height: 20px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
    -moz-box-shadow:  inset 0 -2px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow:  inset 0 -2px 0 rgba(0,0,0,0.15);

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: 0.25s linear background-color;
    transition: 0.25s linear background-color;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.btn-o:hover {
    background: #8ed446;
}
.btn-o:active {
    padding-top: 11px;
    padding-bottom: 9px;
}
.btn-o.auth {
    background: #fb6e50;
}
.btn-o.auth:hover {
    background: #fb5937;
}
.btn-o.big
{
    box-shadow: 0px 2px #e3e4e8;
    -webkit-box-shadow: 0px 2px #e3e4e8;
    -moz-box-shadow: 0px 2px #e3e4e8;
    height: 57px;
    width: 200px;
    position: relative;
    padding: 10px 20px;
    margin: 0 0 20px;
    display: block;
    float: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: 0.25s linear background;
    transition: 0.25s linear background;
}
.btn-o.big .b-label {
    font-size: 24px;
    text-align: left;
    float: left;
    line-height: 22px;
    padding-top: 6px;
    width: 160px;
}
.btn-o.add-adv {
    background: url("/design/img/bg-plus.png") no-repeat right bottom #ffce55;
}
.btn-o.add-res {
    background: url("/design/img/bg-res.png") no-repeat right bottom #f3a06a;
}
.btn-o.big .bg-fig
{
    width: 90px;
    height: 64px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: none;
}
.btn-o.add-adv .bg-fig {
    background: url("/design/img/bg-plus-l.png") no-repeat right bottom;
}
.btn-o.add-res .bg-fig {
    background: url("/design/img/bg-res-l.png") no-repeat right bottom;
}
.btn-o.add-adv:hover
{
    background-color: #ffc63b;
    background-image: none;
}
.btn-o.add-res:hover
{
    background-color: #f38f4d;
    background-image: none;
}
.input-ui
{
    padding: 6px 28px 6px 9px;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    color: #32353C;
    width: 180px;
    font-family: Arsenal-italic;
    border: 1px solid #50c1eb;
}
.ui-sp
{
    background: url("/design/img/sprite.png") no-repeat;
}
.ico-search
{
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 16px;
    color: #BDBDBD;
}
.search-field-cont
{
    position: relative;
}
.profile-nav
{
    float: right;
    padding: 18px 10px 19px 19px;
    cursor: pointer;
    position: relative;
}
.profile-nav:hover
{
    background: #4A505A;
}
.profile-nav ul
{
    position: absolute;
    z-index: 10;
    background: white;
    border: 1px solid #E7E6E6;
    right: 0;
    top: 60px;
    display: none;
}
.profile-nav ul li:last-child a
{
    border-top: 1px solid #E7E6E6;
}
.profile-nav a
{
    padding: 5px 20px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.profile-nav a:hover
{
    background: #50c1eb;
    color: #ffffff;
}
.profile-nav-avatar
{
    display: inline-block;
    border-radius: 70px;
    background: white;
    padding: 2px;
}
.profile-nav-avatar img
{
    border-radius: 50%;
    vertical-align: middle;
}
.profile-nav-id
{
    color: white;
    font-size: 14px;
    padding: 3px;
}
#wrapper
{
    background: #f1f2f6;
}
.content
{
    margin-top: 25px;
    overflow: hidden;
}
.break-line
{
    background: url("/design/img/break-line.png") repeat-x;
    height: 6px;
}
.adv-item
{
    border-bottom: 1px solid #e1e2e6;
    padding-bottom: 20px;
}
.adv-item:last-child
{
    border: none;
}
.adv-city
{
    color: #4ebfe9;
    font-size: 18px;
    margin: 5px 0;
}
.adv-desc
{
    color: #1F4D7A;
    font-size: 16px;
}
.left-col
{
    width: 670px;
    float: left;
    margin-right: 20px;
}
h3.adv-title a
{
    color: #424854;
    text-decoration: none;
}
h3.adv-title a:hover
{
    text-decoration: underline;
}
.adv-bar
{
    margin: 10px 0;
}
.adv-bar-icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.adv-bar-icon.time
{
    background-position: -40px -10px;
}
.adv-bar-icon.offers
{
    background-position: -70px -10px;
}
.adv-bar-item
{
    color: #abb1bd;
    font-size: 15px;
    font-family: Arsenal-Italic;
    margin-right: 20px;
}
.rigth-col-1
{
    margin-right: 20px;
}
.rigth-col-1, .rigth-col-2
{
    float: left;
}
.ui-widget
{
    background: white;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px #e3e4e8;
    -moz-box-shadow: 0px 2px #e3e4e8;
    box-shadow: 0px 2px #e3e4e8;
    width: 200px;
    margin-bottom: 20px;
}
.ui-widget .cat-list a
{
    color: #50c1eb;
    font-size: 16px;
    padding: 5px 0;
    display: block;
}
.ui-widget .cat-list li:last-child a
{
    color: #fb6e50;
}
.ui-widget .cat-list a:hover
{
    text-decoration: none;
}
.ui-widget-title
{
    font-size: 24px;
    color: #424854;
}
.ui-widget-body
{
    margin-top: 15px;
}
.ui-widget-btns
{
    overflow: hidden;
}
.masters-list .item-order
{
    background: #fb6f4e;
    display: inline-block;
    width: 21px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    vertical-align: top;
    color: white;
    font-size: 14px;
    line-height: 22px;
    margin-right: 10px;
    padding-right: 1px;
}
.masters-list .item-order.purple
{
    background: #c49ef3 !important;
}
.masters-list li
{
    border-bottom: 1px solid #ebeff2;
    margin: 0 -20px;
    padding: 10px 20px;
}
.masters-list.mod li:first-child
{
    border-top: 1px solid #ebeff2;
    margin-top: 10px;
}
.masters-list li:first-child .item-order, .masters-list .item-order.green
{
    background: #9fd468;
}
.masters-list li:last-child
{
    border: none;
}
.masters-list a
{
    color: #424854;
    text-decoration: none;
    font-size: 16px;
}
.masters-list a:hover
{
    text-decoration: underline;
}
.masters-list .master-post, .chart-wrp .count-adv > span
{
    display: block;
    color: #a8b2be;
    font-size: 14px;
}
.master-box
{
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.select2-container
{
    width: 120px;
}
.fields_block
{
    width: 300px;
}
.form_item
{
    margin: 10px 0;
}
.form-input
{
    outline: none;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-input:focus {
    border-color: #13c4a5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.file-input-wrapper
{
    position: relative;
}
.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
    outline: 0;
    width: 100%;
    height: 100%;
}
.profile-wrap
{
    overflow: hidden;
    margin-bottom: 20px;
}
.profile-image-wrap
{
    float: left;
    margin-right: 10px;
    width: 90px;
    height: 90px;
    overflow: hidden;
    text-align: center;
}
#footer
{
    background: white;
}
.footer-cont
{
    overflow: hidden;
    padding: 20px 0;
}
.footer-navs-item .footer-navs-title
{
    color: #4ebfe9;
    font-size: 20px;
    margin-bottom: 10px;
}
.footer-navs-item
{
    float: left;
    margin-right: 80px;
}
.footer-navs-item li, .footer-navs-item a
{
    color: #424854;
    font-size: 16px;
    text-decoration: none;
    margin: 5px 0;
}
.footer-navs-item a:hover
{
    text-decoration: underline;
}

/*  ----  fancybox  -----  */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}
.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
.fancybox-skin {
    position: relative;
    color: #444;
    text-shadow: none;
}
.fancybox-opened {
    z-index: 999999;
    outline: none;
}
.fancybox-opened .fancybox-skin {
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fancybox-outer, .fancybox-inner {
    position: relative;
}
.fancybox-inner {
    overflow: hidden;
    vertical-align: middle;
}
.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}
.fancybox-image {
    margin: 0 auto;
    vertical-align: middle;
    max-width: 92%;
    display: none;
}
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 99999;
}
#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(/design/img/fancybox_loading.gif) center center no-repeat;
    z-index:9999999;
}
.fancybox-close {
    position: absolute;
    top: 12px;
    right: -4px;
    width: 90px;
    height: 27px;
    cursor: pointer;
    z-index: 8040;
    outline: none;
    background: url(/design/img/close.png) right top no-repeat;
    color: #50c1eb;
    font-size: 14px;
    padding: 4px;
}
.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}
.fancybox-prev {
    left: 0;
}
.fancybox-next {
    right: 0;
}
.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}
.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}
.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}
.fancybox-nav:hover span {
    visibility: visible;
}
.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
    overflow: visible !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 99999;
    background: url("/design/img/bg-hatch.png");
}
.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.fancybox-lock .fancybox-overlay {
    overflow: auto;
}

/* Title helper */
.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}
.fancybox-opened .fancybox-title {
    visibility: visible;
}
.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}
.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent; /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}
.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}
.fancybox-title-inside-wrap {
    padding-top: 10px;
}
.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}
#fancybox-loading, .fancybox-prev span, .fancybox-next span {
    background-image: url(/design/img/fancybox_sprite.png);
    background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
}
/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

    #fancybox-loading, .fancybox-prev span, .fancybox-next span {
        background-image: url(/design/img/fancybox_sprite.png);
        background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
    }
}
.fancybox-header
{
    background: white;
    padding: 10px;
    border-bottom: 1px solid #dedede;
}
.popup
{
    display: none;
}
.popup h4
{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
}
.f-row
{
     margin: 10px 0;
}
.f-row.mt-20
{
    margin-top: 20px;
}
.btn-r
{
    border: 0;
    background: #50c1eb;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    float: right;
}
a.class-link
{
    color: #50c1eb;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
}
.login-form-wrp .fw-left
{
    border-right: 1px solid #e5e5e5;
    padding-right: 40px;
    width: 218px;
    height: 135px;
    position: relative;
}
.login-form-wrp
{
    overflow: hidden;
}
.login-form-wrp .fw-left .alter
{
    position: absolute;
    top: 30px;
    right: -15px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #434a54;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 29px;
}
.login-form-wrp .fw-left, .login-form-wrp .fw-right
{
    float: left;
}
.login-form-wrp .fw-right
{
    padding-left: 40px;
}
.btn-soc
{
    border-radius: 20px;
    display: block;
    text-indent: -3000px;
    height: 30px;
    width: 60px;
    background: url("/design/img/soc-sprite.png") no-repeat;
}
.btn-soc.fb
{
    background-color: #346da6;
    background-position: -10px -61px;
}
.btn-soc.vk
{
    background-color: #387D9E;
    background-position: -10px -11px;
}
.btn-soc.od
{
    background-color: #f3800d;
    background-position: -10px -110px;
}
.btn-soc:hover, .btn-r:hover
{
    opacity: 0.8;
    filter: Alpha(opacity = 100);
}
.alert-error
{
    color: #BE2727;
}
.chart-wrp
{
    position: relative;
}
.chart-wrp .count-adv
{
    position: absolute;
    top: 85px;
    width: 94%;
    text-align: center;
}
.chart-wrp .count-adv > div
{
    color: #424854;
    font-size: 36px;
    line-height: 28px;
}
.visible
{
    display: block !important;
}
.paginator
{
    border-top: 1px solid #e1e2e6;
    margin: 30px 0;
    padding: 20px 0;
}
.paginationControl .next, .paginationControl .prev, .paginationControl .pageNums a, .paginationControl .pageNums span
{
    padding: 0;
    background: #50c1eb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    display: block;
    width: 40px;
    text-align: center;
    float: left;
    margin-right: 3px;
    font-size: 28px;
}
.paginationControl .next.disabled, .paginationControl .prev.disabled
{
    background: #AFDCEC;
}
.paginationControl .next:hover, .paginationControl .prev:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.paginationControl .pageNums
{
    float: right;
}
.paginationControl .pageNavs
{

}
.paginationControl .pageNums a, .paginationControl .pageNums span
{
    font-size: 20px;
    padding: 1px 0;
    text-align: center;
    width: 30px;
    display: inline-block;
    text-decoration: none;
}
.paginationControl .pageNums span
{
    background: #fb835e;
    color: #ffffff;
}
.paginationControl .pageNums a
{
    color: #50c1eb;
    background: none;
}
.paginationControl .pageNums a:hover
{
    background: #50c1eb;
    color: #ffffff;
}
.reg-form .input-ui
{
    float: left;
    margin-right: 10px;
}

.task-wrap
{
    width: 980px;
}
.task-text
{
    font-size: 16px;
    margin: 20px 0;
}