body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: Arsenal-Regular, Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
}
table {  border-spacing:0; border-collapse: collapse ; }
iframe { border: none; }
fieldset, img { border:0; }
h1,h2,h3,h4,h5,h6 {  font-size:100%; }
li { list-style: none }
@font-face
{
    font-family: 'Arsenal-Bold';
    src: url('/design/fonts/Arsenal-Bold.otf');
}
@font-face
{
    font-family: 'Arsenal-BoldItalic';
    src: url('/design/fonts/Arsenal-BoldItalic.otf');
}
@font-face
{
    font-family: 'Arsenal-Italic';
    src: url('/design/fonts/Arsenal-Italic.otf');
}
@font-face
{
    font-family: 'Arsenal-Regular';
    src: url('/design/fonts/Arsenal-Regular.otf');
}
h1
{
    color: #424854;
    font-size: 30px;
}
h3
{
    font-size: 20px;
    margin: 10px 0;
}
.clear
{
    clear: both;
    float: none;
}
#top-line
{
    background: #434a54;
    height: 72px;
}
.top-line-cont, #top-nav, .container
{
    max-width: 1200px;
    margin: 0 auto;
}
#top-nav
{
    width: 100%;
}
.sign-btns-cont
{
    float: right;
    margin-top: 13px;
}
#logo
{
    float: left;
    padding-top: 16px;
}
#top-nav-line
{
    background: #50c1eb;
    border-bottom: 5px solid #e2e2e2;
}
#top-nav td
{
    background: #50c1eb;
    padding: 10px 0;
}
#top-nav a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 14pt;
    padding: 10px 5px;
    -webkit-font-smoothing: subpixel-antialiased;
}
#top-nav a:hover
{
    background: #45B7E2;
}
#top-nav .last
{
    padding: 0;
    text-align: right;
}
.btn
{
    padding: 10px 30px;
    margin: 2px;
    font-size: 17px;
    border-radius: 5px;
    color: #ffffff;
    background: #9fd468;
    float: left;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
    font-weight: normal;
    line-height: 20px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: 0.25s linear background-color;
    transition: 0.25s linear background-color;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.btn:hover {
    background: #8ed446;
}
.btn:active {
    padding-top: 11px;
    padding-bottom: 9px;
}
.btn.auth {
    background: #fb6e50;
}
.btn.auth:hover {
    background: #fb5937;
}
.btn.add-adv {
    background: url("/design/img/bg-plus.png") no-repeat right bottom #ffce55;
    box-shadow: 0px 2px #e3e4e8;
    height: 57px;
    width: 200px;
    position: relative;
    padding: 10px 20px;
    margin: 0 0 20px;
    display: block;
    float: none;
}
.btn.add-adv .label {
    font-size: 24px;
    text-align: left;
    float: left;
    line-height: 22px;
    padding-top: 6px;
    width: 100px;
}
.btn.add-adv .bg-plus {
    background: url("/design/img/bg-plus-l.png") no-repeat right bottom;
    display: block;
    width: 90px;
    height: 64px;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: none;
}
.btn.add-adv:hover
{
    background-color: #ffc63b;
    background-image: none;
}
#top-search
{
    padding: 6px 28px 6px 9px;
    border: 0;
    border-radius: 15px;
    outline: none;
    font-size: 14px;
    color: #abb1bd;
    width: 180px;
    font-family: Arsenal-italic;
}
.ui-sp
{
    background: url("/design/img/sprite.png") no-repeat;
}
.ico-search
{
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    right: 10px;
    background-position: -10px -10px;
}
.search-field-cont
{
    position: relative;
}
.profile-nav
{
    float: right;
    padding: 18px 10px 19px 19px;
    cursor: pointer;
    position: relative;
}
.profile-nav:hover
{
    background: #4A505A;
}
.profile-nav ul
{
    position: absolute;
    z-index: 10;
    background: white;
    border: 1px solid #E7E6E6;
    right: 0;
    top: 60px;
    display: none;
}
.profile-nav ul li:last-child a
{
    border-top: 1px solid #E7E6E6;
}
.profile-nav a
{
    padding: 5px 20px;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.profile-nav a:hover
{
    background: #50c1eb;
    color: #ffffff;
}
.profile-nav-avatar
{
    display: inline-block;
    border-radius: 70px;
    background: white;
    padding: 2px;
}
.profile-nav-avatar img
{
    border-radius: 50%;
    vertical-align: middle;
}
.profile-nav-id
{
    color: white;
    font-size: 14px;
    padding: 3px;
}
#wrapper
{
    background: #f1f2f6;
}
.content
{
    margin-top: 25px;
    overflow: hidden;
}
.adv-item
{
    border-bottom: 1px solid #e1e2e6;
    padding-bottom: 20px;
}
.adv-city
{
    color: #4ebfe9;
    font-size: 18px;
    margin: 5px 0;
}
.adv-desc
{
    color: #8aa7c4;
    font-size: 16px;
}
.left-col
{
    width: 670px;
    float: left;
    margin-right: 20px;
}
h3.adv-title a
{
    color: #424854;
    text-decoration: none;
}
h3.adv-title a:hover
{
    text-decoration: underline;
}
.adv-bar
{
    margin: 10px 0;
}
.adv-bar-icon
{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
.adv-bar-icon.time
{
    background-position: -40px -10px;
}
.adv-bar-icon.offers
{
    background-position: -70px -10px;
}
.adv-bar-item
{
    color: #abb1bd;
    font-size: 15px;
    font-family: Arsenal-Italic;
    margin-right: 20px;
}
.rigth-col-1
{
    margin-right: 20px;
}
.rigth-col-1, .rigth-col-2
{
    float: left;
}
.ui-widget
{
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px #e3e4e8;
    width: 200px;
    margin-bottom: 20px;
}
.ui-widget .cat-list a
{
    color: #50c1eb;
    font-size: 16px;
    padding: 5px 0;
    display: block;
}
.ui-widget-title
{
    font-size: 24px;
    color: #424854;
}
.ui-widget-body
{
    margin-top: 15px;
}
.ui-widget-btns
{
    overflow: hidden;
}
.masters-list .item-order
{
    background: #fb6f4e;
    display: inline-block;
    width: 30px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 17px;
    padding-top: 5px;
    margin-right: 10px;
}
.masters-list li
{
    border-bottom: 1px solid #ebeff2;
    margin: 0 -20px;
    padding: 5px 20px;
}
.masters-list li:first-child .item-order
{
    background: #9fd468;
}
.masters-list li:last-child
{
    border: none;
}
.masters-list a
{
    color: #424854;
    text-decoration: none;
    font-size: 16px;
}
.masters-list .master-post
{
    display: block;
    color: #a8b2be;
}
.master-box
{
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.select2-container
{
    width: 120px;
}
.fields_block
{
    width: 300px;
}
.form_item
{
    margin: 10px 0;
}
.form-input
{
    outline: none;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-input:focus {
    border-color: #13c4a5;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.file-input-wrapper
{
    position: relative;
}
.file-input-wrapper input[type=file], .file-input-wrapper input[type=file]:focus, .file-input-wrapper input[type=file]:hover {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
    outline: 0;
    width: 100%;
    height: 100%;
}
.profile-wrap
{
    overflow: hidden;
    margin-bottom: 20px;
}
.profile-image-wrap
{
    float: left;
    margin-right: 10px;
    width: 90px;
    height: 90px;
    overflow: hidden;
    text-align: center;
}